<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
        <%= title %>
    </title>

    <!-- Bootstrap core CSS -->
    <link rel="icon" href="/icon.ico">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
        rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
        rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- Plugin CSS -->
    <link href="/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/creative.min.css" rel="stylesheet">
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.12&appId=418017485293597&autoLogAppEvents=1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: white;" id="mainNav">
        <div class="container">
            <a style="color : #f05f40" class="navbar-brand js-scroll-trigger" href="/">Mic On</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Search by name-->
            <form action="/users/find_by_name" autocomplete="off" method="GET" style="margin-left: 20%;">
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <div class="autocomplete" style="width:300px;">
                                <input type="text" id="inputsearch" name="name_search" class="form-control" placeholder="Tìm kiếm theo tên" />
                            </div>
                        </li>
                        <li class="nav-item" style="margin-left:1em;margin-right:1em;">
                            <button type="submit" class="w3-btn w3-large w3-grey w3-round-xlarge ">Search</button>
                        </li>
                    </ul>
                </div>
            </form>
            <!---->
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a style="color : black !important" class="nav-link js-scroll-trigger" href="#about">Giới Thiệu</a>
                    </li>
                    <li class="nav-item">
                        <a style="color : black !important" class="nav-link js-scroll-trigger" href="#services">Nhà Tài Trợ</a>
                    </li>
                    <li class="nav-item">
                        <a style="color : black !important" class="nav-link js-scroll-trigger" href="#portfolio">Video</a>
                    </li>
                    <li class="nav-item">
                        <a style="color : black !important" class="nav-link js-scroll-trigger" href=<%= link_login_or_logout %>>
                            <%= user_name %>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container" style="margin-top:5%">
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <div class="row rowsecond">
                    <iframe width="100%" height="80%" src="https://www.youtube.com/embed/<%= user_profile_video_view.link_video %>?modestbranding=1&autohide=1&showinfo=0&controls=1"
                        frameborder="0" allow=" encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="row rowsecond">
                    <h1>
                        <span>
                            <%= user_profile_video_view.full_name %>
                        </span>
                    </h1>
                </div>
                <div class="row rowsecond">
                    <span>
                        <%= user_profile_video_view.description %>
                    </span>
                </div>
                <div class="row rowsecond" style="height: 3%;">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-6"></div>
                    <div class="col-md-3">
                        <img src="<%= link_avata_button_like %>" alt="Like" height="100%">
                        <a href="/users/manager_like/<%= user_profile_video_view.id %>" style="font-size: 1.2em" id="like_manager"> Bình chọn </a>
                        <span class="w3-badge" style="font-size:1vw">
                            <%= total_like %>
                        </span>
                    </div>
                    <div class="col-md-1">
                        <!-- <div style="margin-right: 10px;" class="fb-share-button" data-href="https://miconshow.com/details/<%= user_profile_video_view.id %>"
                            data-layout="button_count" data-size="large" data-mobile-iframe="true">
                            <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse"
                                class="fb-xfbml-parse-ignore">Share</a>
                        </div> -->
                        <div style="margin-right: 10px;" class="fb-share-button" data-href="https://miconshow.com/" 
                            data-layout="button_count" data-size="large" data-mobile-iframe="true">
                            <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmiconshow.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Chia sẻ</a>
                        </div>
                    </div>
                </div>
                <div class=" row rowsecond container" style="margin-top:5%">
                    <div class="fb-comments" data-href="https://miconshow.com/details/<%= user_profile_video_view.id %>" data-width="700" data-numposts="5"></div>
                </div>
            </div>
            <div class="col-xs-6 col-md-4">
                <% data_video_array.forEach(function(data_video) { %>
                    <div class="row rowsecond">
                        <div class="col-xs-6 col-md-6">
                            <a href="/details/<%= data_video.id %>">
                                <img src="https://img.youtube.com/vi/<%= data_video.link_video %>/default.jpg" alt="Smiley face" height="auto" width="100%">
                            </a>
                        </div>
                        <div class="col-xs-6 col-md-6" style="line-height:200%;">
                            <a href="/details/<%= data_video.id %>">
                                <span>
                                    <%= data_video.full_name %>
                                </span>
                            </a>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
    <!-- ADD comment to facebok -->

    <!----------------------------------------------------------->
    <!-- Introduction about contact  -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <h2 class="section-heading">Thông tin!</h2>
                    <hr class="my-4">
                    <p class="mb-5"><h3>Trưởng BTC: Trần Hương Ly – Sđt: 01628333232</h3>
                        Phó BTC: Phạm Kiều Ánh - 01628272298 </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 ml-auto text-center">
                    <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
                    <p>01628333232</p>
                </div>
                <div class="col-lg-4 mr-auto text-center">
                    <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
                    <p>
                        <a href="mailto:miconhoalac@gmail.com">miconhoalac@gmail.com</a>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!--------------------------------------------------- -->

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="/js/creative.min.js"></script>
    <script src="/js/suggestsearch.js"></script>
    <script src="/js/manager.js"></script>
    <script lang="javascript">(function () { var pname = ((document.title != '') ? document.title : ((document.querySelector('h1') != null) ? document.querySelector('h1').innerHTML : '')); var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = 1; ga.src = '//live.vnpgroup.net/js/web_client_box.php?hash=265b162ab4d1bd8e7772a553d17f4e64&data=eyJzc29faWQiOjUzNDE0NDUsImhhc2giOiJhY2FiMjhhY2NiNTJjZTU5NzlmM2E3NzMwZDg0MzEwYSJ9&pname=' + pname; var s = document.getElementsByTagName('script'); s[0].parentNode.insertBefore(ga, s[0]); })();</script>
</body>
</html>